.contact {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	min-height: 15vh;
	justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: white;
}

.socMedia {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	margin-left: 2em;
	margin-right: 2em;
}

.svg {
	width: 3em;
	height: 3em;
}
