.experience {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: white;
}

.experience > h1 {
	position: absolute;
	top: 300vh;
	margin-top: 1em;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: 700;
	font-size: 3vw;
	text-align: center;
}

#experienceText {
	outline: none;
	text-align: center;
	padding-left: 10em;;
	padding-right: 10em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vw;
	font-weight: 100;
}

#experienceText > p > a {
	text-decoration: none;
	color: gray;
}

